/* Element styling */
body {
  text-align:center;
  font-family:sans-serif;
}

footer {
  clear:both;
  padding:30px 30px;
}

li {
  float:left;
  display:block;
  padding-left:10px;
  padding-right:10px;
  color: black;
}

li a {
  text-decoration: none;
  color:black

}

button a {
  color: white;
  text-decoration:none;
}

nav {
  text-transform: uppercase;
}

img {

}

/* Class Styling */
.outside-section {
  background-color:black;
}

.main-section {
  max-height:810px;
  max-width:935px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.image-section {
  float:left;
  padding: 50px 25px 50px 25px;

}

.form-section {
  float:left;
  max-width: 380px;
  max-height: 935px;
  padding: 20px;
  background-color: white;

}

.instagram-size {
  width:220px;
  padding: 10px 25px 25px 10px;

}

.img-float {
  float:left;
  margin-left: 7px;
  margin-right: 7px;
}

.form-border {
  padding:15px;
  margin:15px;
}

.login-border {
  padding: 5px 15px 5px 15px;
  margin:15px;
}

.block {
  display: block;
  border: none;
  width: 100%;
  color: white;
  background-color: rgb(37, 145, 244);
  padding:7px;
  font-size:13px;
}

.box-shadow {
  box-shadow: 2px 2px 2px 2px lightgrey;

}
